body {
    margin: 0;
    font-family: Calibri, serif;
    color: rgba(0,0,0,0.45);
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page section {
    display: flex;
    flex-grow: 1;
    min-height: 400px;
}

.page header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: rgba(210, 215, 211, 1);
}

/*.page nav {*/
/*    background: rgba(228, 241, 254, 1);*/
/*    padding: 1em;*/
/*    white-space: nowrap;*/
/*}*/

.page section .main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /*background: rgba(210, 215, 211, 1);*/
    background: #eee;
    padding: 1em;
}



.page section aside {
    /*background: rgba(220, 198, 224, 1);*/
    background: rgba(191, 191, 191, 1);
    width: 200px;
    padding: 1em;
    box-sizing: border-box;
}

.page footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: rgba(103, 128, 159, 1);
    z-index: 20000;
}



.inputNameInvalid{
    border-color: red;
}

.inputPasswordInvalid{
    border-color: red;
}

.msgUsername{
    color: red;
}

.msgApartmentName{
    color: red;
}

.msgPassword{
    color: red;
}

.msgPasswordAgain{
    color: red;
}


.checkedUserObligation {
    color : rgba(135, 211, 124, 1);
}

.buttonAlreadyPayed{
    color: rgba(135, 211, 124, 1);
}

.windowLogin{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 10000;
    background: #eee;
    padding: 1em;
}

.windowLoginCredentials{
    flex-grow: 8;
}

.login-headline{
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: rgba(103, 128, 159, 1);

}

.windowNewApartment{
    display: flex;
    flex-direction: column;
    align-items: center;


    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white;
    /*z-index: 10000;*/
    z-index: 9009;
}

.debtOverdue{
    /*background-color: red;*/
    color: rgba(219, 10, 91, 1) !important;
}

.debtNotOverdue{
    /*background-color: lightgreen;*/
    color: rgba(135, 211, 124, 1) !important;
}

.debt-table {
    border-collapse:collapse;
    max-width: 50em;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.debt-table th, .debt-table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25),
    inset 0 1px rgba(0,0,0,0.25);
}
.debt-table th {
    font-weight: normal;
    padding: 0.1em;
    border-right:medium solid;
    color: rgba(0,0,0,0.45);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 1.35em;
}
.debt-table td {
    color: #f7f7f7;
    /*padding: 0.7em 1em 0.7em 1.15em;*/
    padding: 0.2em 0.3em 0.2em 0.9em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 1.35em;
}
.debt-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
.table-receivables {
    background: #336ca6;
}
.table-receivables tr:hover {
    background: rgba(0,0,0,0.2);
}

.table-obligations {
    background: #f06060;
}
.table-obligations tr:hover {
    background: rgba(0,0,0,0.2);
}


/*header*/
#main-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(103, 128, 159, 1);
    position: relative;
    z-index: 1001;
    padding: 1.2em 0 0 1.2em;
}
ul.main-nav {
    padding-left: 0;
    flex-grow: 2;
}

.headline{
    align-self: center;
    flex-grow: 1;
    font-size: 2em;
    color: rgba(0,0,0,0.45);
}

ul.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*justify-content: left;*/
    width: 650px;
    margin: auto;
    overflow: hidden;
}
ul.main-nav li {
    float: left;
    list-style: none;
    margin: 0.6em 0.2em 0.6em 0;
    padding: 0.2em 0.1em 0.2em 0;
    font-size: 1.7em;
}
ul.main-nav li a {
    text-decoration: none;
    color: #ccc;
}
ul.main-nav li a:hover {
    color: #e0461b;
    transition: color 400ms ease-out;
}

#fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #e0461b;
    margin-top: 0;
}
#fixed-nav ul.main-nav li {
    display: flex;
    font-size: 1.4em;
    margin: 0.3em 0.2em 0.3em 0;
    padding: 0.2em 0.1em 0.2em 0;
}
#fixed-nav ul.main-nav a {
    color: #612717;
}

#addDebt{
    margin-top: 2em;
    font-size: 1.4em;
    padding: 0.2em 0.1em 0.2em 0;
    cursor:pointer;
;}

#addDebt2{
    margin-top: 2em;
    font-size: 1.4em;
    padding: 0.2em 0.1em 0.2em 0;
;}

#addRoommate{
    margin-top: 2em;
    font-size: 1.4em;
    padding: 0.2em 0.1em 0.2em 0;
    cursor:pointer;
}

#addDebt i{
    padding-right: 0.2em;
}

#addDebt:hover {
    color: #e0461b;
    transition: color 400ms ease-out;
}

.payForDebt:hover:not(.buttonAlreadyPayed){
    cursor:pointer;
    color: #336ca6;
    transition: color 400ms ease-out;
}

.delete-debt:hover{
    cursor:pointer;
    color: #f06060;
    transition: color 400ms ease-out;
}


#addRoommate i{
    padding-right: 0.2em;
}

#addRoommate:hover {
    color: #e0461b;
    transition: color 400ms ease-out;
}
.form-background{
    margin: 2em;
    padding: 2em;
    background: rgba(191, 191, 191, 1);
    background-size:cover;
    border:#fff 15px solid;
    border-radius:5px;
    /*border: solid;*/

    -webkit-box-shadow:  0 0 15px 0 rgba(0, 0, 0, .45);
    box-shadow:  0 0 15px 0 rgba(0, 0, 0, .45);
}
.form{
    /*background: rgba(191, 191, 191, 1);*/
    margin-top: 3em;
    box-sizing: border-box;
    padding: 20px;
    border-radius:5px;
    border: solid;
}

.form-text-box{
    border-radius:3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:10px;
}

.form-button{
    height:50px;
    width:100%;
    border-radius:3px;
    border:1px solid;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:10px;
    /*background:#90c843;*/
    background:#ccc;
    color:#FFF;
    font-weight:bold;
    font-size: 12pt;
    transition:background .4s;
    cursor:pointer;

    -webkit-box-shadow:  0 0 15px 0 rgba(0, 0, 0, .45);
    box-shadow:  0 0 15px 0 rgba(0, 0, 0, .45);
}

.form-button2{
    height:50px;
    width:30%;
    border-radius:3px;
    border:1px solid;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:10px;
    /*background:#90c843;*/
    background:#ccc;
    color:#FFF;
    font-weight:bold;
    font-size: 12pt;
    transition:background .4s;
    cursor:pointer;

    -webkit-box-shadow:  0 0 15px 0 rgba(0, 0, 0, .45);
    box-shadow:  0 0 15px 0 rgba(0, 0, 0, .45);
}

.form-button:hover{
    background: #e0461b;
}

.form-button2:hover{
    background: #e0461b;
}

.back-button{
    height:50px;
    width:50%;
    border-radius:3px;
    border:1px solid;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:30px;
    /*background:#90c843;*/
    /*background:#ccc;*/
    color:#FFF;
    font-weight:bold;
    font-size: 12pt;
    transition:background .4s;
    cursor:pointer;
}

.back-button:hover{
    background: saddlebrown;
}

.side-debts{
    font-size: 1.8em;
}

.form-login{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.label-text{
    padding: 0.5em;
    /*margin-top: 0.5em;*/
}

ul.main-nav li a {
    text-decoration: none;
    color: #ccc;
}
ul.main-nav li a:hover {
    color: #e0461b;
    transition: color 400ms ease-out;
}

.ref-apartment a {
    text-decoration: none;
    color: rgba(103, 128, 159, 1);
}
.ref-apartment a:hover {
    color: #e0461b;
    transition: color 400ms ease-out;
}

span > img, p > img {
    cursor:pointer;
    top: 6px;
    position: relative;
}

img:hover{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (max-width: 700px) {
    .page {
        flex-direction: column;
    }
    /*.page  nav {*/
    /*    order: 1;*/
    /*}*/
    .page  nav {
        order: 1;
    }

    .page section {
        order: 2;
    }

    .page section .main {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        align-content: start;
        align-self: flex-start;
        flex-basis: 20%;
        /*background: rgba(210, 215, 211, 1);*/
        background: #eee;
        padding: 1em;

    }

    .page footer{
        order: 3;
    }
    .page section aside {
        display: none;
    }

    #main-header {
        display: none !important;
    }


}